#header {
  background-color: #8D0000;
  text-align: center;
  padding: 0em;
}

#header h2 {
  line-height: 1em;
}

.attention {
  background-color: #FFBFBF;
}

h1, h2, h3, h4, h5, h6 {
  color: #800000;
}

.sidebox {
  background-color: #FFBFBF;
}

.pre {
  background-color: #FFE6E6;
}

.literal {
  background-color: #FFE6E6;
}

.post-title {
  border-top: 1px dashed #444;
}

.post-link a {
  font-weight: normal; 
  color: #000;
}
